html {
    font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
    /* take away all margins */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: black;
    color: white;
    z-index : 0;
}

body {
    margin: 0;
}

video {

    width: 100%;
    position: fixed;
    z-index: -1;
    background-color: black;
    vertical-align: top;
    margin-left: 0;
}

/* put home-text over home-container */
.home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 100%;
    font-weight: thin;
    text-align: center;
    vertical-align: center;
}

nav {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-size : 150%;
    transition: all 0.1s ease-in-out;
}

nav:hover {
    background-color: rgb(0, 0, 0);
    font-size : 25px;
}

li {
    display: inline-block;
    /* center the text */
    margin: 0;
    padding: 0;
    /* center the text */
    text-align: center;
    /* add space between each link */
    padding: 0px 20px;

}

ul {
    display: inline-block;
    text-align: center;
}

a.nav {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size : 20px;
    font-weight: bold;
    padding: 10px;
    transition: all 0.1s ease-in-out;
    text-shadow: 2px 2px rgb(255, 0, 255);
}

a.row {
    float: left;
    width: 80%;
    margin-left: 5%;
    margin-bottom: -5%;
}

a.row:hover {
    float: left;
    width: 80%;
    margin-left: -3%;
    margin-top: -8%; 
    margin-bottom: -15%;
}

a:hover {
    font-size: 25px;
    padding: 10px;
    text-shadow: -2px -2px rgb(0, 238, 255);
}

/* hide scrollbar */
::-webkit-scrollbar {
    width: 0px;
}

h1 {
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-shadow: -1px -1px rgb(0, 238, 255), 1px 1px rgb(255, 0, 255);
}

p {
    text-shadow: -1px -1px rgb(0, 238, 255), 1px 1px rgb(255, 0, 255);
    overflow: hidden;
}

p.skills {
    width: 200%;
    font-size: 80%;
}

h2 {
    font-size: 30px;
    text-shadow: -1px -1px rgb(0, 238, 255), 1px 1px rgb(255, 0, 255);
}

.skills-container {
    background-color: black;
    overflow: hidden;
}

.skills-left {
    float: left; 
    width: 30%;
    margin-left: 5%;
    margin-bottom: -5%;
}

.skills-right {
    /* float: right; */
    width: 30%;
    margin-left : 42%;
    margin-bottom: -5%;
    margin-top: -4%;
    vertical-align: top;
    font-size : 150%;
    transform: translateX(-50%);
}

img.skills {
    width: 30%;
    height: auto;
    transition: width 0.2s ease-in-out;

}

img.skills:hover {
    width: 33%;
    height: auto;
    margin-left: -2.2%;
    filter:drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.475));
}

.anti-mobile {
    width: 0%;
    height: 0%;
    position: fixed;
    background-color: rgb(0,0,0);
    z-index: -10;
    font-size: 0px;
    margin-left: -200%;
}

.portfolio {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

br {
    background-color: black;
}

@media (max-width: 1280px) {
    .anti-mobile {
        width: 100%;
        height: 100%;
        z-index: 5;
        font-size: 100%;
        margin-left: 0%;
    }
}

